@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 16px;
	}

	@media (max-width: 640px) {
		html { font-size: 15px; }
	}

	@media (min-width: 1280px) {
		html { font-size: 18px; }
	}
}
